html, body{
    font-family: sans-serif;
    background: #fff;
}

#center_width{
		position: absolute;
    width: 650px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -325px;
    border: 1px dashed #000;
    display: block;
    box-sizing: border-box;
}

#regions_div{
		position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    display: block;
    box-sizing: border-box;
}

#control_panel{
		position: absolute;
    width: 100%;
    float: right;
    box-sizing: border-box;
    border: 1px solid #000;
    background: #fff;
}

#control_panel table tr td{
	background: #cc0000;
	color: #fff;
	font-size: 12pt;
}

#control_panel table tr #cp_title{
    width: 100%;
    display: table-cell;
    height: 35px;
    background: #cc0000;
    color: #fff;
    font-weight: bold;
    font-size: 17pt;
    text-align: center;
    padding-top: 5px;
    vertical-align: center;
}

#cp_info1{
	width: 50%;
	text-align: center;
}

#cp_info2{
	width: 50%;
	text-align: center;
}

/* --- D R O P    D O W N    S E L E C T O R S --- */

#region_selector, #subcontinent_selector, #country_selector{
    margin: 0 0 0 0;
    width: 280px;
}